# Estimate Mobile Phone Price
In this computer assignment, we try to building a model to estimate phone price using the given dataset.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd drive/My\ Drive
# %mkdir AI_CA5
%cd AI-Final Project/

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive
/content/drive/My Drive/AI-Final Project

#### Libraries
1. `pd` is imported to read dataset.

2. `LinearRegression`, `HuberRegressor` and `RandomForestRegressor` are imported to build models for our regression problem.

3. `mean_squared_error`, `mean_absolute_error` are imported to calculate the performance metrics.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.model_selection import KFold 
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, HuberRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

## Data
There is a `mobile_phone_dataset.csv` file including a list of mobile advertisements with their information such as *title*, *brand*, *city*, *price* and etc.

In [ ]:
data = pd.read_csv("mobile_phone_dataset.csv")
data.head()

   Unnamed: 0             brand     city  ... image_count      created_at    price
0           0      Nokia::نوکیا      Qom  ...           2  Wednesday 07AM    60000
1           1        Apple::اپل   Tehran  ...           0  Wednesday 11AM  1150000
2           2  Samsung::سامسونگ  Mashhad  ...           2  Wednesday 02PM   590000
3           3        Apple::اپل    Karaj  ...           3  Wednesday 04PM  1100000
4           4  Samsung::سامسونگ   Tehran  ...           2     Friday 01PM   900000

[5 rows x 8 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59189 entries, 0 to 59188
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   59189 non-null  int64
 1   brand        59189 non-null  object
 2   city         59189 non-null  object
 3   title        59189 non-null  object
 4   desc         59189 non-null  object
 5   image_count  59189 non-null  int64
 6   created_at   59189 non-null  object
 7   price        59189 non-null  int64
dtypes: int64(3), object(5)
memory usage: 3.6+ MB

The following table shows some information of each class including the number of advertisements of each class and also the average price of each brand.

In [ ]:
data.groupby("brand").describe()

                 Unnamed: 0                ...      price
                      count          mean  ...        75%        max
brand                                      ...
Apple::اپل          15589.0  31093.334916  ...  1600000.0  2800000.0
HTC::اچ‌تی‌سی        2973.0  30982.716448  ...   600000.0  2000000.0
Huawei::هوآوی        7227.0  31160.014390  ...   410000.0  2500000.0
LG::ال‌جی            2490.0  31167.793574  ...   750000.0  2100000.0
Lenovo::لنوو         1100.0  31374.930909  ...   410000.0  2000000.0
Nokia::نوکیا         4027.0  30280.769556  ...   170000.0  2400000.0
Samsung::سامسونگ    19760.0  31161.525557  ...   850000.0  2700000.0
Sony::سونی           4227.0  31183.898746  ...   600000.0  2400000.0
ZTE::زدتی‌ای         1796.0  30885.280067  ...   500000.0  2400000.0

[9 rows x 24 columns]

## Preprocessing
In this part, `preprocessing()` is implemented to do the following tasks:
  1. Remove irrelevant coloumn
  2. Convert farsi and arabic numbers to english numeric characters.
  3. Remove brand names from `title`
  4. Devide the `title` of each advertisement into `persian_title` and `english title`
  5. Devide data into test and train
  6. Calculate **z_score** which shows how far is a price from average. Using this parameter, we can detect and remove outliers by selecting some thresholds. These thresholds are hyperparameters which is set manually. The following equation shows how z_score filters outliers.
$$ Z\_score = \frac{x-\eta}{\sigma}$$

In [ ]:
def preprocessing(data, redundant_words = ["iphone", "galaxy", "phone"], Upper_z_score = 2.5, Lower_z_score = -1):

  modified_data = data.filter(items=["brand", "title", "price"])

  trans_dict = dict()
  for i in range(10):
    trans_dict[i + ord('٠') ] = chr( i + ord('0'))
    trans_dict[i + ord('۰') ] = chr( i + ord('0'))

  modified_data["title"]= modified_data["title"].str.lower()
  modified_data["title"]= modified_data["title"].str.translate(trans_dict)


  brand_names = list(modified_data.groupby("brand").groups.keys())
  brand_names = ('::'.join(map(str, brand_names)).lower() + "::" + ('::'.join(map(str, redundant_words)).lower())).split("::")

  for w in brand_names:
    modified_data["title"] = modified_data["title"].str.replace(w, ' ') 

  modified_data.insert(1, "persian_title", modified_data["title"].str.replace(r'[\x00-\x7F]+'.lower(), ' '))
  modified_data.insert(2, "english_title", modified_data["title"].str.replace(r'[^A-Za-z0-9_]+'.lower(), ' '))
  modified_data = modified_data.drop(columns=["title"])

  test_data = modified_data[modified_data['price'] == -1]
  train_data = modified_data[modified_data['price'] != -1]

  if Upper_z_score and Lower_z_score:
    train_data_dict = dict()

    for name, group in train_data.groupby('brand'):
      group.insert(3, "z_score", stats.zscore(group['price']).tolist())
      train_data_dict[name] = group

      train_data_dict[name] = train_data_dict[name][train_data_dict[name]["z_score"] > -1]
      train_data_dict[name] = train_data_dict[name][train_data_dict[name]["z_score"] < 2.5]

  return train_data_dict, test_data

In the following function, the most `num` frequent words in the given `col` for all brands will be found and returned.

In [ ]:
def find_key_words(train_data_dict, col = 'english_title', num = 40):
  key_words = dict()
  freq_key = dict()
  for key, val in train_data_dict.items():
    word_list = ' '.join(map(str, val[col].tolist() )).split()
    word_freq = dict()
    for w in set(word_list):
      word_freq[w] = word_list.count(w)
    freq, word = zip(*sorted(zip(word_freq.values(), word_freq.keys()), reverse=True))
    key_words[key] = list(word[:num])
    freq_key[key] = list(freq[:num])

  return key_words, freq_key

`extract_features` add some zero coloumns according to the given `key_words`. If `persian_title` or `english_title` contain such key word, the corresponding value gets 1.

In [ ]:
def extract_features(train_data_dict, key_words, col = "english_title"):
  for key, val in train_data_dict.items():
    for w in key_words[key]:
      val[w] = val[col].str.contains(w).astype(int)
  return train_data_dict

## Evaluating Model
Features extracted in the previous section are used to predict the price of validation data.

Using k-fold cross validation method, the average score of such trained model,  MSE and MAE are calculated by `evaluate_model`.

In [ ]:
def evaluate_model(train_data_dict, key_words, regression_method = RandomForestRegressor, K = 5):
  
  MSE = {b:0 for b in train_data_dict}
  MAE = {b:0 for b in train_data_dict}
  scores = {b:0 for b in train_data_dict}
  
  for brand in train_data_dict:
    X = train_data_dict[brand][key_words[brand]].to_numpy()
    y = train_data_dict[brand]["price"].to_numpy()

    kf = KFold(n_splits=K)
    for train_index, test_index in kf.split(X):
      X_train, X_test = X[train_index], X[test_index]
      y_train, y_test = y[train_index], y[test_index]
      reg = regression_method().fit(X_train, y_train)

      scores[brand] += reg.score(X_test, y_test)
      MSE[brand] += mean_squared_error(y_test, reg.predict(X_test))
      MAE[brand] +=  mean_absolute_error(y_test, reg.predict(X_test))

    scores[brand] /= K
    MSE[brand] /= K
    MAE[brand] /= K
    
  return pd.DataFrame.from_dict({"score" : scores, "MSE" : MSE, "MAE" : MAE} , orient='index').T

`train_models()` returns the best models trained by all data.

In [ ]:
def train_models(train_data_dict, key_words, regression_method = RandomForestRegressor):
  models = dict()

  for brand in train_data_dict:
    X = train_data_dict[brand][key_words[brand]].to_numpy()
    y = train_data_dict[brand]["price"].to_numpy()

    models[brand] = regression_method().fit(X, y)

  return models

`predict()` estimate prices for given `test_data` using pretrained models.

In [ ]:
def predict(test_data, key_words, models):
  predicted_prices = pd.DataFrame(0, index=test_data.index, columns=["price"])
  for index, row in test_data.iterrows():
    brand_name = row["brand"]
    # print(brand_name, "**", row["english_title"])
    X = np.array([[1 if key_words[brand_name][i] in row["english_title"] else 0 for i in range(len(key_words[brand_name])) ]])
    # print(X)
    # print(models[brand_name].predict(X))
    predicted_prices.at[index, "price"] = models[brand_name].predict(X)

  return predicted_prices

## Results
In the following part, results are shown and explained.

In [ ]:
train_data_dict, test_data = preprocessing(data)
key_words, freq = find_key_words(train_data_dict, col = "persian_title")
print(key_words.values())
print(freq.values())

dict_values([['ایفون', 'گیگ', 'آیفون', 'گوشی', 'اس', 'گلد', 'موبایل', 'در', 'حد', 'پلاس', 'تمیز', 'گری', 'نو', 'فروش', 'مشکی', 'فایو', 'سیکس', 'و', 'سالم', 'گوشى', 'معاوضه', 'سیلور', 'سفید', 'بدون', 'اک', 'آک', 'با', 'درحد', 'بسیار', 'رنگ', '،', 'رزگلد', 'خط', 'خش', 'اکبند', 'آکبند', 'حافظه', 'اصلی', 'فوق', 'العاده'], ['گوشی', 'اچ', 'تی', 'سی', 'دیزایر', 'موبایل', 'وان', 'فروش', 'تمیز', 'دوسیم', 'نو', 'در', 'حد', 'سیم', 'و', 'ام', 'مدل', 'معاوضه', 'دو', 'سالم', 'پلاس', 'فورجی', 'آک', 'با', 'ای', 'درحد', 'یا', 'گیگ', 'تعویض', 'کارت', 'اک', 'جی', 'ایکس', 'بسیار', 'کارکرد', 'اس', 'مکس', 'فوق', 'تایوان', 'آکبند'], ['هواوی', 'گوشی', 'موبایل', 'جی', 'تمیز', 'هانر', 'مدل', 'در', 'حد', 'لایت', 'سالم', 'نو', 'فروش', 'وای', 'پی', 'معاوضه', 'و', 'هونور', 'سفید', 'اک', 'دوسیم', 'درحد', 'سی', 'مشکی', 'هو', 'آک', 'با', 'میت', 'هاوایی', 'هوواوی', 'یا', 'سیم', 'گلد', 'بسیار', 'دو', 'هواویی', 'هواووی', 'فورجی', 'وی', 'بدون'], ['جی', 'گوشی', 'ال', 'الجی', 'موبایل', 'گیگ', 'فروش', 'تمیز', 'معاوضه', 'مدل', 'در', 'حد', 'استایلوس', 'مشکی', 'با', 'نکسوس', 'و', 'نو', 'فورجی', 'دوسیم', 'سیم', 'اک', 'دو', 'آک', 'سفید', 'یا', 'گلد', 'سالم', 'بسیار', 'فلکس', 'چرم', 'درحد', 'گارانتی', 'کارت', 'مگنا', 'ایکس', 'پشت', 'وی', 'تعویض', 'فور'], ['هواوی', 'گوشی', 'جی', 'موبایل', 'هانر', 'تمیز', 'مدل', 'لایت', 'سالم', 'در', 'نو', 'حد', 'هونور', 'فروش', 'وای', 'و', 'پی', 'اک', 'کار', 'درحد', 'درحداک', 'بخونید', 'معاوضه', 'مشکی', 'سی', 'آک', 'دو', 'میت', 'فورجی', 'سفید', 'بسیار', 'هواووی', 'اکبند', 'یا', 'کارکرده', 'کارکرد', 'هاوایی', 'مبایل', 'طرح', 'سیم'], ['گوشی', 'موبایل', 'لومیا', 'ساده', 'سالم', 'اصلی', 'مدل', 'تمیز', 'اصل', 'دوسیم', 'فروش', 'و', 'نو', 'دو', 'در', 'سیم', 'کارت', 'حد', 'فنلاند', 'با', 'لمسی', 'معاوضه', 'کلکسیونی', 'اکبند', 'ایکس', 'ان', 'خور', 'اندروید', 'آکبند', 'عدد', 'کاملا', 'مشکی', 'رم', 'دوربین', 'کارکرده', 'فروشی', 'درحد', 'کلاسیک', 'آک', 'ویندوز'], ['گوشی', 'گلکسی', 'اس', 'نوت', 'موبایل', 'جی', 'گرند', 'در', 'حد', 'تمیز', 'فروش', 'فورجی', 'گلد', 'دوسیم', 'مدل', 'معاوضه', 'نو', 'سفید', 'سیم', 'گیگ', 'با', 'گلگسی', 'و', 'اک', 'مشکی', 'آک', 'سالم', 'درحد', 'سری', 'دو', 'تری', 'تک', 'مینی', 'پریم', 'پلاس', 'ایج', 'رنگ', 'یا', 'اج', 'کارت'], ['گوشی', 'موبایل', 'اکسپریا', 'زد', 'تمیز', 'فروش', 'حد', 'در', 'معاوضه', 'سالم', 'مدل', 'و', 'فورجی', 'سفید', 'دوسیم', 'نو', 'مشکی', 'با', 'سیم', 'دو', 'اک', 'جی', 'ال', 'کارت', 'درحد', 'بسیار', 'یا', 'اس', 'بدون', 'اولترا', 'وان', 'آک', 'تی', 'پی', 'ایکسپریا', 'الترا', 'خط', 'کاملا', 'وی', 'ضد'], ['گوشی', 'موبایل', 'جی', 'ال', 'ایکس', 'مدل', 'ایسوس', 'دیمو', 'با', 'فروش', 'و', 'نو', 'معاوضه', 'دو', 'سیم', 'طرح', 'شیائومی', 'زنفون', 'سالم', 'اندروید', 'آلکاتل', 'دوسیم', 'کارت', 'نوت', 'ردمی', 'ای', 'اکبند', 'در', 'الکاتل', 'آکبند', 'ایسوز', 'حد', 'گیگ', 'چینی', 'فون', 'عدد', 'تمیز', 'آک', 'مینی', 'ساده']])
dict_values([[2508, 1955, 1893, 1783, 1034, 789, 491, 466, 446, 397, 361, 318, 316, 279, 216, 216, 178, 156, 139, 136, 136, 134, 128, 127, 121, 119, 106, 104, 103, 101, 94, 90, 85, 80, 76, 72, 68, 68, 57, 53], [701, 540, 536, 534, 309, 225, 103, 94, 68, 60, 54, 54, 53, 51, 48, 47, 46, 45, 44, 43, 34, 34, 26, 25, 25, 23, 22, 21, 20, 19, 18, 17, 17, 16, 15, 15, 14, 12, 12, 12], [2500, 2383, 620, 509, 333, 308, 291, 257, 243, 239, 215, 209, 207, 177, 170, 125, 118, 117, 117, 109, 97, 96, 95, 91, 90, 88, 81, 80, 78, 66, 61, 60, 59, 59, 57, 53, 52, 52, 48, 46], [1000, 667, 608, 402, 172, 101, 93, 75, 73, 63, 60, 60, 56, 51, 51, 49, 45, 43, 38, 37, 34, 31, 27, 27, 24, 23, 23, 22, 20, 19, 18, 18, 17, 17, 17, 17, 16, 16, 16, 15], [361, 341, 94, 93, 70, 53, 37, 37, 37, 36, 35, 34, 31, 30, 29, 27, 22, 20, 16, 16, 13, 13, 12, 12, 12, 12, 11, 10, 10, 10, 10, 8, 8, 7, 7, 7, 7, 7, 7, 7], [1347, 327, 285, 163, 146, 136, 115, 103, 95, 93, 88, 87, 83, 69, 68, 66, 64, 63, 55, 46, 45, 44, 37, 37, 36, 34, 33, 29, 28, 25, 24, 24, 24, 24, 23, 22, 22, 21, 20, 19], [4626, 1808, 1568, 1505, 1235, 1036, 635, 609, 581, 533, 531, 506, 462, 446, 431, 427, 370, 364, 362, 303, 288, 287, 285, 283, 278, 276, 251, 247, 227, 210, 193, 182, 170, 163, 162, 149, 144, 138, 132, 130], [1314, 581, 233, 203, 146, 114, 107, 106, 101, 95, 91, 88, 82, 76, 74, 64, 62, 62, 60, 54, 48, 46, 45, 39, 36, 36, 34, 34, 33, 33, 32, 30, 27, 26, 24, 23, 22, 21, 21, 21], [842, 220, 136, 117, 109, 71, 65, 64, 62, 60, 55, 53, 46, 46, 43, 42, 40, 40, 39, 39, 37, 32, 31, 29, 28, 27, 27, 24, 24, 23, 22, 21, 20, 20, 20, 20, 20, 20, 18, 18]])

According to the above cell, the most frequent word in Persian doesn't carry significant semantic information. Therefore, in the rest of the project, English keywords are used to accomplish our task.

In [ ]:
train_data_dict, test_data = preprocessing(data)
key_words, freq = find_key_words(train_data_dict, col = "english_title")
print(key_words.values())
print(freq.values())

dict_values([['6', '5s', '6s', '64', '16', '5', 'gold', '32', '16g', 'gray', 'lla', '64g', '64gb', '16gb', 'plus', 'se', 'gig', '32g', '128', 'iphon', '64gig', '16gig', 'silver', 'num', 'gb', '5c', '32gb', 'g', 's', '32gig', '4s', '6plus', 'rose', 'grey', 'numg', '128g', 's5', 'i', 'black', 'a'], ['one', 'desire', '816', 'm8', 'dual', 'e9', 'sim', '820', 'm9', '4g', 'plus', 'm7', '826', '626', '616', 'x', 'eye', 'max', '500', 'e8', 'a9', '9', '32', '820s', 'gold', 'xl', 's', '728', 'g', '8', 'sensation', '820g', '310', 'disire', '8x', '700', '2', '4', '32g', 'xe'], ['g610', 'honor', 'p8', '4c', '3c', '6', 'g730', 'lite', 'g630', 'g6', 'p7', 'g750', '8', 'y600', '7', '610', 'p6', 'g700', 'y300', '730', 'y530', 'y6', 'y330', 'y520', '4x', 'y511', 'y5', 'g510', '4g', '750', 'g525', '4', 'y625', '5x', 'y560', 'u10', 'g', '630', 'g8', '600'], ['g3', 'g4', '3', '2', '4', 'g2', '32', 'k10', 'v10', '5', '4g', 'nexus', 'g5', 'stylus', 'g', '5x', '10', '32gig', '32g', 'beat', 'k4', 'x', 'screen', 'l70', '32gb', 'sim', 'lte', 'k8', '16', 'mini', 'flex', 'dual', '70', 'pro', 'num', 'gig', 'optimus', 'magna', 'lfino', 'l9'], ['honor', '3c', 'g610', '6', '4c', 'p8', 'y600', '730', 'lite', '5x', 'y6', 'g750', '7', 'p7', 'g730', 'g700', 'y520', 'y5', 'p6', 'g630', '8', '610', '4', 'y530', 'y511', '750', '3', 'y560', 'y300', 'g510', '630', '4g', 'p8lite', 'gr3', '700', 'g8', 'g6', 'g525', '4x', '3cu10'], ['lumia', '1280', 'n8', 'x', '105', 'n73', '101', '108', 'x2', '1520', '5800', '225', '206', '520', '1100', '2', 'n95', '8800', '130', 'n70', 'c7', '1200', '930', '215', '222', 'xl', '920', '830', 'c2', 'n97', '6303', '1208', '107', '1020', '6300', '1320', 'num', 'x1', 'sim', 'c5'], ['2016', '5', '4', '3', 's6', 'j7', 's5', '2', 's3', 'a5', 's4', 'j5', '4g', 'num', '6', '7', 'a7', 'note', 'a', 'edge', 'a3', '32', 's7', '2015', 'j1', 'a8', 'j', 'j2', 'gold', 'neo', 'mini', 's', '3g', 'numg', 'e7', '1', 'n9005', '32g', '64', 's2'], ['z1', 'z', 'xperia', 'z2', 'z3', '4g', 'dual', 't2', 'sp', 'ultra', 'z5', 'c', 'v', 'l', '2', 'c3', 'zr', 'c4', 'm4', 'm2', 'm', 'xa', 'z4', '3', 'c5', '4', 't', 'tx', '1', 's', 'aqua', 'm5', 'sim', 'sl', 'j', '5', 'p', 'lte', 'compact', 't3'], ['2', 'glx', 'asus', 'zenfone', '4', 'cat', '3', '5', 'xiaomi', 'mi', 'redmi', 'note', '6', '1', '64', 'alcatel', 'dimo', 'txl', 's50', 'mi4', 'pro', 'm2', 'g6', 'mi5', 'max', 'm3', 'fly', '7', 'b25', '4g', 's40', 'padfone', 'meizu', 'leagoo', 'ccit', '5s', 'zenfone2', 's', 'one', 'hd']])
dict_values([[3250, 2838, 1697, 1643, 1613, 1420, 828, 697, 610, 576, 514, 445, 355, 296, 283, 282, 270, 226, 200, 198, 188, 179, 177, 153, 153, 149, 116, 107, 106, 100, 94, 86, 74, 74, 59, 59, 58, 58, 54, 45], [421, 278, 184, 180, 118, 107, 93, 86, 79, 68, 64, 58, 56, 54, 49, 47, 47, 42, 39, 35, 33, 33, 32, 30, 29, 27, 27, 27, 26, 26, 23, 20, 20, 17, 17, 16, 16, 15, 15, 14], [311, 296, 292, 253, 246, 208, 184, 175, 163, 155, 151, 151, 136, 132, 132, 127, 126, 113, 108, 104, 103, 94, 89, 88, 84, 79, 78, 77, 73, 71, 70, 69, 63, 61, 58, 58, 57, 57, 51, 51], [254, 220, 162, 156, 141, 132, 120, 111, 93, 61, 59, 41, 41, 40, 39, 33, 33, 32, 30, 24, 22, 19, 18, 18, 16, 15, 15, 14, 14, 12, 11, 11, 11, 10, 10, 10, 9, 8, 8, 8], [58, 43, 39, 39, 39, 32, 27, 25, 24, 24, 20, 18, 18, 17, 16, 16, 15, 14, 14, 13, 13, 13, 13, 12, 12, 12, 12, 11, 11, 11, 11, 11, 10, 10, 10, 9, 9, 9, 9, 9], [108, 86, 85, 69, 69, 67, 60, 57, 54, 54, 51, 50, 50, 49, 49, 46, 45, 45, 42, 39, 39, 37, 34, 34, 33, 31, 31, 31, 28, 27, 27, 27, 27, 27, 25, 25, 24, 23, 22, 22], [1068, 1067, 932, 927, 829, 758, 672, 672, 668, 651, 643, 638, 557, 551, 505, 449, 432, 415, 413, 394, 379, 312, 295, 284, 245, 241, 228, 203, 199, 165, 141, 126, 114, 107, 106, 106, 100, 98, 91, 90], [427, 339, 305, 273, 259, 190, 132, 115, 113, 108, 106, 100, 92, 86, 86, 60, 52, 52, 51, 50, 50, 46, 42, 41, 40, 36, 35, 34, 33, 31, 28, 25, 24, 23, 23, 23, 22, 22, 22, 18], [111, 100, 75, 47, 41, 40, 40, 35, 27, 23, 22, 21, 21, 19, 17, 15, 14, 13, 13, 13, 12, 12, 11, 10, 10, 10, 10, 10, 9, 9, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7]])

The following cell shows the dataframe of `Apple::اپل` brand after finding and storing key words in OneHotEncoding method.

In [ ]:
train_data_dict, test_data = preprocessing(data)
key_words, _ = find_key_words(train_data_dict)
train_data_dict = extract_features(train_data_dict, key_words)
train_data_dict["Apple::اپل"]

            brand       persian_title          english_title  ...  i  black  a
1      Apple::اپل        ایفون اس گیگ                  5 32   ...  0      0  0
3      Apple::اپل       گرى ایفون گیگ                 5s 32   ...  0      0  0
8      Apple::اپل              ایفون                   6 64   ...  0      0  0
10     Apple::اپل               ايفون                    5s   ...  0      0  0
12     Apple::اپل           ایفون گیگ                  se16   ...  0      0  0
...           ...                 ...                    ...  ... ..    ... ..
59151  Apple::اپل                 گیگ                 6s 16   ...  0      0  0
59157  Apple::اپل  ایفون پلاس گیگ گلد                  6 16   ...  0      0  0
59175  Apple::اپل                      iphon 6plus 128silver  ...  1      0  0
59179  Apple::اپل        ایفون اس گیگ                  6 64   ...  0      0  0
59186  Apple::اپل                 گلد              16gig 5s   ...  1      0  0

[11328 rows x 45 columns]

### Regression Model
In the following section, `LinearRegression`, `HuberRegressor` and `RandomForestRegressor` are used to solve our regression problem.

* `LinearRegression`

In [ ]:
train_data_dict, test_data = preprocessing(data)
key_words, _ = find_key_words(train_data_dict)
train_data_dict = extract_features(train_data_dict, key_words)
evaluate_model(train_data_dict, key_words, regression_method = LinearRegression)

                     score           MSE            MAE
Apple::اپل        0.753781  6.128895e+10  172898.963407
HTC::اچ‌تی‌سی     0.553760  2.435694e+10  113677.380423
Huawei::هوآوی     0.498759  1.298625e+10   77449.920145
LG::ال‌جی         0.447504  4.451712e+10  149011.006538
Lenovo::لنوو      0.521530  1.131945e+10   75235.265347
Nokia::نوکیا      0.627620  1.108800e+10   66462.493844
Samsung::سامسونگ  0.504658  7.703504e+10  198941.052440
Sony::سونی        0.514271  2.338261e+10  105486.009669
ZTE::زدتی‌ای      0.330069  6.993699e+10  198983.104264

* `HuberRegressor`: The Huber Regressor optimizes the squared loss for the samples where |(y - X'w) / sigma| < epsilon and the absolute loss for the samples where |(y - X'w) / sigma| > epsilon, where w and sigma are parameters to be optimized. The parameter sigma makes sure that if y is scaled up or down by a certain factor, one does not need to rescale epsilon to achieve the same robustness.

In [ ]:
train_data_dict, test_data = preprocessing(data)
key_words, _ = find_key_words(train_data_dict)
train_data_dict = extract_features(train_data_dict, key_words)
evaluate_model(train_data_dict, key_words, regression_method = HuberRegressor)

                     score           MSE            MAE
Apple::اپل        0.750959  6.198703e+10  171321.914842
HTC::اچ‌تی‌سی     0.526137  2.586829e+10  113082.990921
Huawei::هوآوی     0.468082  1.379326e+10   75385.713813
LG::ال‌جی         0.417426  4.721033e+10  154870.414490
Lenovo::لنوو      0.448522  1.319556e+10   79185.928388
Nokia::نوکیا      0.523467  1.429369e+10   68560.446108
Samsung::سامسونگ  0.470431  8.234810e+10  189717.445534
Sony::سونی        0.490215  2.453676e+10  105933.352219
ZTE::زدتی‌ای      0.234965  8.011723e+10  199172.774820

* `RandomForestRegressor` : A random forest is a meta estimator that fits a number of classifying decision trees on various sub-samples of the dataset and uses averaging to improve the predictive accuracy and control over-fitting.

In [ ]:
train_data_dict, test_data = preprocessing(data)
key_words, _ = find_key_words(train_data_dict)
train_data_dict = extract_features(train_data_dict, key_words)
evaluate_model(train_data_dict, key_words, regression_method = RandomForestRegressor)

                     score           MSE            MAE
Apple::اپل        0.766467  5.813713e+10  164471.237611
HTC::اچ‌تی‌سی     0.571502  2.342893e+10  107732.538916
Huawei::هوآوی     0.552939  1.158724e+10   71550.016464
LG::ال‌جی         0.472811  4.251581e+10  139537.315853
Lenovo::لنوو      0.568291  1.027374e+10   70048.341168
Nokia::نوکیا      0.640423  1.071111e+10   64330.880977
Samsung::سامسونگ  0.583941  6.468059e+10  168304.764903
Sony::سونی        0.543501  2.191183e+10   99326.183548
ZTE::زدتی‌ای      0.329129  7.006821e+10  189190.438687

Comparing the trained models, `RandomForestRegressor` has the best performance.

### Test Prediction Result
Selecting best regression method, the following table shows the estimated prices for those with "-1" price value.

In [ ]:
models = train_models(train_data_dict, key_words)
predict(test_data, key_words, models)

         price
23      469416
28      997883
32     1185780
36      384402
44      279414
...        ...
59121   241852
59146   473747
59169  1676528
59174   727166
59183   286938

[5888 rows x 1 columns]

## Conclusions and future work
In this computer assignment, `desc` column data were not used because of the informality of sentences which may be useful. Using semantic analysis, this valuable information would be extracted. Moreover, using 'hazm' library and 'TF-IDF' would be beneficial.